@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0%;
    padding:0%;
    font-family:'Open Sans', sans-serif;
    box-sizing: border-box;
}
nav{
    background: gray;
    z-index: 10;
    position: fixed;
    width: 100%;
}
.listamenu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    height: 70px;
    width: 85%;
    align-items: center;
    z-index: 10;
    border: none;
}
h1{
    font-size: 22px;
}
nav ul li:hover{
    background: darkslategray;
    
}
nav ul li{
    transition: background 1s;
    padding: 23px;
    width: 20%;
    border-right: 1px solid #afb1b7;
}
nav ul li .claro{
     transition: background 1s;
    padding: 23px;
    width: 20%;
    border: 0px
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
nav ul li ul{
    list-style: none;
    display: none;
    border-radius: 25px;
    position:absolute;
    padding: 10px;
    background: gray;
    transition: background .3s;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    width: 250px;
    border-radius: 6px;
    text-align:center;
}
nav ul li ul li a{
    padding: 10px;
}
.login{
    width: 200px;
    height: 80%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dropdown{
        width: 100px;
        height: 80%;
        background: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;
}
i{
    font-style: normal;
}
small{
    background: black;
}
h5{
    background: black;
    display: inline-block;
}
a{
    font-style: normal;
}
a:hover{
    color: black;
    text-decoration: none;
  }
  p{
    background: black;
    display: inline-block;
}
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }
 .text{
     background: transparent;
 }
 h3{
     font-size: 24px;
 }
 .aluno{
     background: transparent;
 }
.grid, .grid-1{
    display: inline-block;
    font-size: 20px;
}
.linha1{
    text-align: center;
}