@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0%;
    padding:0%;
    font-family:'Open Sans', sans-serif;
    box-sizing: border-box;
}

nav{
    background: gray;
    z-index: 10;
    position: fixed;
    width: 105%;
    height: 70px;

}
.listamenu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    height: 70px;
    width: 85%;
    align-items: center;
    z-index: 10;
}
h1{
    font-size: 26px;
    margin: auto;
}
nav ul li:hover{
    background: darkslategray;
    
}
nav ul li{
    transition: background 1s;
    padding: 23px;
    width: 20%;
    border-right: 1px solid #afb1b7;
}
nav ul li .claro{
    transition: background 1s;
    padding: 23px;
    width: 20%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
nav ul li ul{
    list-style: none;
    display: none;
    border-radius: 25px;
    position:absolute;
    padding: 10px;
    background: gray;
    transition: background .3s;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    width: 250px;
    border-radius: 6px;
    text-align:center;
}
nav ul li ul li a{
    padding: 10px;
}
.login{
    width: 200px;
    height: 80%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dropdown{
    width: 100px;
    height: 80%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}
i{
    font-style: normal;
}
small{
    background: black;
}
h5{
    background: black;
    display: inline-block;
}
a{
    font-style: normal;
}
a:hover{
    color: black;
    text-decoration: none;
  }
  p{
    background: black;
    display: inline-block;
}
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
    background:#fff; 
    padding:0 10px; 
 }
 .text{
    background: transparent;
 }
 h3{
     font-size: 24px;
 }
 .aluno{
     background: transparent;
 }
.grid, .grid-1{
    display: inline-block;
    font-size: 20px;
}
.linha1{
    text-align: center;
}
#claro{
    border: none;
}
div ol{
    list-style: none;
}
div ol li{
    border: 0.5px solid #000;
    text-align: justify;
}
div ol li a{
    text-decoration: none;
    color: black;
}
.linha2{
    text-align: center;
}
.footer{
    width: 100%;
    height: 240px;
    background:gray;
}
.footer .container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
}
.footer .container ol li{
    border: none;
}
.footer .container ul span a{
    color: black;
}
.footer .container ul span a:hover{
    color: darkslategray;
}
.icones1{
    display: flex;
    justify-content: space-around;
    height: 10%;
    background: darkslategray;
    box-sizing: border-box;
}
.icones1 a:hover{
    color: rgb(51, 50, 50);
}
.icones1 a{
    color: gray;
}
hr{
    border: 1.5px solid #000;
}
.icones2 ul{
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background: darkslategray;
    box-sizing: border-box;
    list-style: none;
    align-items: center;
}
.icones2 ul li a{
    color: black;
    text-decoration: none;
}
.icones2 ul li a:hover{
    color: rgb(51, 50, 50);
}